body {
	background-color: Ivory;
	margin-top: 5em;
	text-align: center;
}

@font-face {
	font-family:"ChinaOne Normal";
	src:url("fonts/ChinaOne.eot?")format("eot"),
		url("fonts/ChinaOne.woff") format("woff"),
		url("fonts/ChinaOne.ttf") format("truetype"),
		url("fonts/ChinaOne.svg#ChinaOneNormal") format("svg");
	font-weight:normal;
	font-style:normal;
}

h1 {
	font-family: 'ChinaOne Normal';
	font-size: 4em;
	letter-spacing: 4px;
}

.fc-subtitle {
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 200;
}

.fc-img {
	margin: 5em 5em;
	max-height: 30%;
	max-width: 30%;
}
@media screen and (max-width: 768px) {
    .fc-img {
		margin: 2em 5em;
        max-height: 50%;
		max-width: 50%;
    }
}

@media screen and (min-width: 1024px) {
	div:last-of-type {
		margin-left: 8em;
		margin-right: 8em;
	}
}
@media screen and (max-width: 1023px) {
	div:last-of-type {
		margin-left: 5em;
		margin-right: 5em;
	}
}
@media screen and (max-width: 768px) {
	div:last-of-type {
		margin-left: 1em;
		margin-right: 1em;
	}
}

.fc-quote-div {
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 10px 10px 10px lightgrey;
}

.fc-quote {
	color: DimGray;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.25em;
	font-weight: 500;
	padding-left: 0.5em;
	padding-right: 0.5em;	
}